.add-celeb {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.add-celeb h2 {
    margin-bottom: 10px;
}

.add-celeb form {
    display: flex;
    flex-direction: column;
}

.add-celeb input {
    margin-bottom: 10px;
    padding: 10px;
}

.add-celeb button {
    padding: 10px;
    background-color: var(--color-primary);
    transition-property: background-color;
    transition-duration: var(--animation-duration-fast);
    color: var(--color-inverted);
    border: none;
    cursor: pointer;
}

.add-celeb button {
    display: flex;
    justify-content: center;
}
